<div class="home">
        <img class="profile" src="../../assets/kenneth_velarde.jpg" alt="profile_img">
        <h1>Kenneth-Matthew Velarde</h1>
        <p><em>Software Engineer at </em><strong>Cisco</strong></p>
        <hr>
    
        <router-outlet></router-outlet>
    
        <div class="footer">
            <a class="footer-link" href="https://www.linkedin.com/in/kenneth-matthew-velarde/">Linkedin</a>
            <a class="footer-link" href="https://github.com/KennethVelarde">Github</a>
            <p class="footer-trademark">2020 Kenneth-Matthew Velarde.</p>
    </div>
</div>