.experience{
    text-align: center;
}

.footer{
   background-color: #132743;
   padding-top: 35px;
   margin-top:45px;
}

.footer-link{
    margin: 0 20px 0;
}

.footer-trademark{
    color: #EAF6F6;
    font-size: .75rem;
    margin-bottom: 0;
    padding: 20px 0;
    


}

.home{
    text-align:center;
}

h1{
    margin-top:18px;
}

p{
    // display:inline-block;
    // // margin-bottom: 0;
    // margin: 0 5px 0 0;
}
.profile{
    border-radius: 10%;
    margin-top:15px;
    width:25%;
}

