<h1>Kenneth-Matthew Velarde</h1>
<p><em>Software Engineer at </em><strong>Cisco</strong></p>
<hr>
<h3>Education</h3>
<table cellspacing="10">
    <tr>
        <td>2016-2020</td>
        <td>California State Polytechnic University, Pomona</td>
    </tr>
</table>
<hr>
<h3>Experience</h3>
<table>
    <tr>
        <td><strong>Cisco</strong></td>
        <td>July 2020-</td>
        <td>Software Engineer</td>
    </tr>
    <tr>
        <td><strong>IBM</strong></td>
        <td>May 2019-December 2019</td>
        <td>Software Engineer Intern</td>
    </tr>
    <tr>
        <td><strong>Tatum Games LLC</strong></td>
        <td>November 2018-February 2019</td>
        <td>Web Developer Intern</td>
    </tr>
</table>
<h3>Hobbies</h3>

<hr>
<h3>Projects</h3>