<div class="home">
    <img class="profile" src="../../assets/kenneth_velarde.jpg" alt="profile_img">
    <h1>Kenneth-Matthew Velarde</h1>
    <p><em>Software Engineer at </em><strong>Cisco</strong></p>
    <hr>
    <div class="education">
        <h3>Education</h3>
        <p>2016-2020</p>
        <h5>California State Polytechnic University, Pomona</h5>
    </div>
    <hr>
    <div class="experience">
        <h3>Experience</h3>
        <p>Cisco</p>
        <p>2020-Present <strong>Software Engineer</strong> </p>
        <p>IBM</p>
        <p>May 2019-December 2019 <strong>Software Engineer Intern</strong> </p>
        <p>Tatum Games LLC</p>
        <p>May 2018-February 2019 <strong>Web Developer Intern</strong> </p>
    </div>
    <hr>
    <h3>Hobbies</h3>
    <p>Baking</p>
    <p>Video Games</p>
    <p>Movies</p>
    <p>Musicals</p>

    <hr>
    <h3>Projects</h3>
    <a href="https://github.com/KennethVelarde">Github</a>
    <p>Watchit!</p>


    <div class="footer">
        <a class="footer-link" href="https://www.linkedin.com/in/kenneth-matthew-velarde/">Linkedin</a>
        <a class="footer-link" href="https://github.com/KennethVelarde">Github</a>
        <p class="footer-trademark">2020 Kenneth-Matthew Velarde.</p>
    </div>
</div>