html,
body{
    /* text-align:center; */
    height:100%;
    margin:0;
    text-align: center;
}

#title{
    /* background-color: #faf3dd; */
    display:inline-block;
    background-image: url("../images/gears_background.png");
    height:100vh;
    width:100vw;
}
.title_section{
    padding: 20%;
}

#experience{
    background-color: aliceblue;
    height:100vh;
    /* position:relative; */
    padding: 3%;
    
    /* width:100vw; */
}
