  <!-- <a class="navbar navbar-brand" routerLink="/home">KV</a>
  <ul class="nav justify-content-center vert" style="background-color: #efecea">

    
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/work">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/contact">Contact Me</a>
      </li> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar navbar-brand" routerLink="/home">KV</a>
      <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
      </ul>
</nav>